<div class="container">
    <form [formGroup]="registerFormGroup" (submit)="register()" class="form-field">

        <h3>Register</h3>
        
        <mat-form-field>
            <mat-label for="username">Username</mat-label>
            <input matInput id="username" name="username" type="text" formControlName="username" />
        </mat-form-field>

        <mat-form-field>
            <mat-label for="firstName">Firstname</mat-label>
            <input matInput id="firstName" name="firstName" type="text" formControlName="firstName" />
        </mat-form-field>

        <mat-form-field>
            <mat-label for="lastName">Lastname</mat-label>
            <input matInput id="lastName" name="lastName" type="text" formControlName="lastName" />
        </mat-form-field>

        <mat-form-field>
            <mat-label for="password">Password</mat-label>
            <input matInput id="password" name="password" type="password" formControlName="password" />
        </mat-form-field>

        <button mat-flat-button type="submit" [disabled]="registerFormGroup.invalid">Send</button>    

        @if(invalidCredentials){
            <mat-error>Invalid credentials</mat-error>
        }
        <a (click)="navigateLogin()" class="register">Login</a>

    </form>

</div>
